@model PagedList.IPagedList<Inventory_mvc.ViewModel.AdjustmentVoucherViewModel>

@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Index";

    var successMessage = TempData["SuccessMessage"];
    var errorMessage = TempData["ErrorMessage"];
}


<h2>Adjustment Voucher List</h2>

@if (successMessage != null)
{
    <div class="alert alert-success">
        @successMessage.ToString()
    </div>
}


@if (errorMessage != null)
{
    <div class="alert alert-danger">
        @errorMessage.ToString()
    </div>
}

@using (Html.BeginForm("Index", "AdjustmentVoucher", FormMethod.Get, new { @class = "form"}))
{
<table class="table pagination">
    <tr>
        <td>
            @Html.Label("Filter By Status", new { @class = "text-right font-weight-bold" })
        </td>
        <td>
            @Html.DropDownList("status", ViewBag.SelectStatus as IEnumerable<SelectListItem>, new { @class = "form-control", onchange = "form.submit();" })
        </td>
    </tr>
</table>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Voucher Number", "Index", new { sortOrder = ViewBag.NumberSortParm })
            </th>
            <th>
                @Html.ActionLink("Requester", "Index", new { sortOrder = ViewBag.RequesterSortParm })
            </th>
            <th>
                @Html.Label("Issue Date")
            </th>
            @if (ViewBag.Status == "Pending")
            {
                <th>@Html.Label("Adjusted Amount")</th>
            }
            <th>
                @Html.Label("Action")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.VoucherNo)</td>
                <td>@Html.DisplayFor(modelItem => item.Requester)</td>
                <td>@Html.DisplayFor(modelItem => item.IssueDate)</td>
                @if (ViewBag.Status == "Pending")
                {
                    <td><span class="text-danger">@item.VoucherTotalAmount</span></td>
                }
                <td>
                    @Html.ActionLink("Details", "ShowDetail", "AdjustmentVoucher", new { id = item.VoucherNo }, new { })
                    @if (ViewBag.Status != "Pending")
                    {
                        @:| @Html.ActionLink("Approve / Reject", "MakeApproval", "AdjustmentVoucher", new { id = item.VoucherNo }, new { })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
}

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
                new { page, sortOrder = ViewBag.CurrentSort }))


