@model IEnumerable<Inventory_mvc.ViewModel.RequisitionDetailViewModel>

@{
    ViewBag.Title = "EditRecord";

    var editMessage = TempData["EditMessage"];
    var errorMessage = TempData["ErrorMessage"];
}

<h2>Requisition Details</h2>
<br />


<div class="form-group row">
    <label class="col-sm-2 col-form-label font-weight-bold">Requisition Form No.</label>
    <div class="col-sm-10">
        <input type="text" id="formNo" readonly class="form-control-plaintext" value="@ViewBag.RequisitionFormNo">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label font-weight-bold">Approval Status</label>
    <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" value="@ViewBag.ApprovalStatus">
    </div>
</div>

<br />
@if (editMessage != null)
{
    <div class="alert alert-success">
        @editMessage.ToString()
    </div>
}

@if (errorMessage != null)
{
    <div class="alert alert-danger">
        @errorMessage.ToString()
    </div>
}

<br />
<table class="table">
    <thead>
        <tr>
            <th>@Html.Label("Description")</th>
            <th>@Html.Label("Request Quantity")</th>
            <th>@Html.Label("UOM")</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            var formID = "form-" + item.Item.itemCode;

            using (Html.BeginForm("EditRecord", "ListRequisitions", null, FormMethod.Post, new { @class = "form", id = formID }))
            {
                @Html.HiddenFor(modelItem => item.Item.itemCode)
                @Html.HiddenFor(modelItem => item.Record.requisitionNo)

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.description)
                    </td>
                    <td>
                        <span class="" id="displayQty-@item.Item.itemCode">
                            @Html.DisplayFor(modelItem => item.RequestQty, new { htmlAttributes = new { @class = "" } })
                        </span>
                        <span class="d-none" id="editQty-@item.Item.itemCode">
                            @Html.EditorFor(modelItem => item.RequestQty, new { htmlAttributes = new { @class = "form-control", min="1", type="number" } })
                        </span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.unitOfMeasure)
                    </td>
                    <td>
                        <span class="" id="editBtn-@item.Item.itemCode">
                            <a href="#" onclick="editBtnClick('@item.Item.itemCode')">Edit</a>
                        </span>
                        <span class="d-none" id="showBtnIfEdit-@item.Item.itemCode">
                            <a href="#" onclick="submitBtnClick('@item.Item.itemCode')">Save Change</a> |
                            <a href="#" onclick="cancelBtnClick('@item.Item.itemCode')">Cancel</a>
                        </span>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<br />
@Html.ActionLink("Back to List", "Index")

<!-- The below code is for the modal dialog -->
<div class="modal fade" id="editItemModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="editItemModalBodyDiv">
        </div>
    </div>
</div>

<script>

    function editBtnClick(itemCode) {

        var d1 = document.getElementById("editBtn-" + itemCode);
        d1.className += " d-none";

        var d2 = document.getElementById("showBtnIfEdit-" + itemCode);
        d2.className -= " d-none";

        var d3 = document.getElementById("displayQty-" + itemCode);
        d3.className += " d-none";

        var d4 = document.getElementById("editQty-" + itemCode);
        d4.className -= " d-none";
    };


    function cancelBtnClick(itemCode) {

        var d1 = document.getElementById("editBtn-" + itemCode);
        d1.className -= " d-none";

        var d2 = document.getElementById("showBtnIfEdit-" + itemCode);
        d2.className += " d-none";

        var d3 = document.getElementById("displayQty-" + itemCode);
        d3.className -= " d-none";

        var d4 = document.getElementById("editQty-" + itemCode);
        d4.className += " d-none";
    };

    function submitBtnClick(itemCode) {
        var form = document.getElementById("form-" + itemCode);
        form.submit();
    };


</script>