@model Inventory_mvc.Models.Department

@{
    ViewBag.Title = "CreateDepartment";

    var exceptionMessage = TempData["ExceptionMessage"];

    List<Inventory_mvc.ViewModel.CollectionPointViewModel> collectionPointLists = ViewBag.CollectionPointList;
}

<h2>Create Department</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    if (exceptionMessage != null)
    {
        @Html.Label(exceptionMessage.ToString(), new { @class = "alert alert-danger" });
    }


    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.departmentCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.departmentCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.departmentCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.departmentName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.departmentName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.departmentName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contactName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.contactName, new { htmlAttributes = new { @class = "form-control"  } })
                @Html.ValidationMessageFor(model => model.contactName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phoneNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.phoneNo, new { htmlAttributes = new { @class = "form-control", min="0" , value ="0" } })
                @Html.ValidationMessageFor(model => model.phoneNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.faxNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.faxNo, new { htmlAttributes = new { @class = "form-control", min = "0", value = "0" } })
                @Html.ValidationMessageFor(model => model.faxNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.collectionPointID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
      
                <select name="PointID" class="form-control">
                    <option value="--Select--" selected="selected">--Select--</option>
                    
                    @foreach (var collectionPoint in collectionPointLists)
                    {
                        string selected = "";

                        if (ViewBag.CollectionPointID == collectionPoint.collectionPointID.ToString())
                        {
                            selected = "selected";
                        }

                        <option value="@collectionPoint.collectionPointID" @selected> @collectionPoint.collectionPointName </option>
                    }
  
                </select>
                @Html.ValidationMessageFor(model => model.collectionPointID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Department List", "ListDepartment")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
