@model Inventory_mvc.Models.Department

@{
    ViewBag.Title = "EditDepartment";

    List<Inventory_mvc.ViewModel.CollectionPointViewModel> collectionPointLists = ViewBag.CollectionPointList;
}

<h2>Edit Department</h2>
<h2></h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.departmentCode)
        
        <div class="form-group">
            @Html.LabelFor(model => model.departmentCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
           
                @{
                    if (TempData["sss"] == null)
                    {
                        @Html.DisplayFor(model => model.departmentCode, new { htmlAttributes = new { @class = "form-control" } })
                    }else
                    {
                        @TempData["sss"];
                    }
                }
                
                @Html.ValidationMessageFor(model => model.departmentCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.departmentName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.departmentName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.departmentName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contactName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.contactName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contactName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phoneNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.phoneNo, new { htmlAttributes = new { @class = "form-control", min = "0", value = "0" } })
                @Html.ValidationMessageFor(model => model.phoneNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.faxNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.faxNo, new { htmlAttributes = new { @class = "form-control", min = "0", value = "0" } })
                @Html.ValidationMessageFor(model => model.faxNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
      
            <div class="col-md-10">
          
                @Html.HiddenFor(model => model.collectionPointID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.collectionPointID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Department List", "ListDepartment")
</div>
