@model Inventory_mvc.Models.User

@{
    ViewBag.Title = "Delegate";
}

<h2>Delegate</h2>
<script>
    //$(function () {
    //    $("#delstart").datepicker({ dateFormat: 'dd-mm-yy' });
    //});
    //$(function () {
    //    $("#delend").datepicker({ dateFormat: 'dd-mm-yy' });
    //});


    $(document).ready(function(){
$("#delend").attr("disabled", "disable");// add end date to disable

    });

  $( function() {
        $("#delstart").datepicker(
        {
            minDate: 0, dateFormat: 'dd-mm-yy', 
            beforeShowDay: $.datepicker.noWeekends ,
            onSelect: function (date) {

                $("#delend").removeAttr("disabled");// remove disable after select startdate

            
            }
        }
    );
  });

  $(function () {
      
      $("#delend").datepicker(
      {
          beforeShowDay: $.datepicker.noWeekends,
        //  changeMonth:true,
        //  maxDate: "+2W",
        defaultDate: "+1w",
        beforeShow: function () {
            $(this).datepicker('option', 'minDate', $('#delstart').val());
          //  if ($('#delstart').val() === '') $(this).datepicker('option', 'minDate', 0 , 'maxDate' , '+10D');
        },
        dateFormat: 'dd-mm-yy'
    });
  });
 
  
</script>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roleInfo.roleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roleInfo.roleName)
        </dd>


    </dl>
</div>
@using (Html.BeginForm("Delegate", "User", FormMethod.Post))
{
    <div>
        
        <input type="hidden" name="userID" value = "@Model.userID"/>
        @*<p>From: <input type="text" id="delstart" name="from"> |
           To:   <input type="text" id="delend" name="toto">
        </p>*@
        <p>From: <input type="text" id="delstart" name="from">  
           To: <input type="text" id="delend" name="toto"></p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Confirm" class="btn btn-danger" />
            </div>
        </div>
    </div>
}

<p>
    
    @Html.ActionLink("Back to List", "UserList")
</p>
