@model IEnumerable<Inventory_mvc.Models.User>

@{
    ViewBag.Title = "UserList";
    var delegateMessage = TempData["DelegateMessage"];
    var removeDelegateMessage = TempData["RmvDelMessage"];
    var assignRepMessage = TempData["AssignRepMessage"];
    var assignRepErrorMessage = TempData["AssignRepErrorMessage"];

}

<h2>UserList</h2>

<p>
     @Html.ActionLink("Edit Profile", "Edit")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.roleInfo.roleName)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.delegationStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.delegationEnd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.roleInfo.roleName)
        </td>
               
        <td>
            @Html.DisplayFor(modelItem => item.delegationStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.delegationEnd)
        </td>

        <td>
            @if (Convert.ToInt32(HttpContext.Current.Application["role"]) == 2 || Convert.ToInt32(HttpContext.Current.Application["role"]) == 5)
            {
                @*@Html.ActionLink("Edit", "Edit", new { id = item.userID }) |*@
                @Html.ActionLink("Delegate", "Delegate", new { id = item.userID })}<p> </p> 
            @if (Convert.ToInt32(HttpContext.Current.Application["role"]) == 2 || Convert.ToInt32(HttpContext.Current.Application["role"]) == 5 || Convert.ToInt32(HttpContext.Current.Application["role"]) == 8)
            {
                @Html.ActionLink("Assign Rep", "Assign_Rep", new { id = item.userID })}<p> </p> 
            @if (Convert.ToInt32(HttpContext.Current.Application["role"]) == 2 || Convert.ToInt32(HttpContext.Current.Application["role"]) == 5)
            { 
            @Html.ActionLink("Remove Delegate", "Remove_Delegate", new { id = item.userID })
            }
        </td>
    </tr>
}

</table>
<div>
    <p>
        @if (delegateMessage != null)
        {
            <div class="alert alert-success">
                @delegateMessage.ToString()
            </div>
        }

        @if (removeDelegateMessage != null)
        {
            <div class="alert alert-success">
                @removeDelegateMessage.ToString()
            </div>
        }
       
        @if (assignRepMessage != null)
        {
            <div class="alert alert-danger">
                @assignRepMessage.ToString()
            </div>
        }

        @if (assignRepErrorMessage != null)
        {
            <div class="alert alert-danger">
                @assignRepErrorMessage.ToString()
            </div>
        }


    </p>
</div>



