@model IEnumerable<Inventory_mvc.ViewModel.UserViewModel>

@{
    ViewBag.Title = "UserList";
}

<h2>UserList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.DelegationStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DelegationEnd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
               
        <td>
            @Html.DisplayFor(modelItem => item.DelegationStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DelegationEnd)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.UserID }) |
            @Html.ActionLink("Delegate", "Delegate", new { id = item.UserID }) |
            @Html.ActionLink("Assign Rep", "Assign_Rep", new { id = item.UserID }) |
            @Html.ActionLink("Remove Delegate", "Remove_Delegate", new { id = item.UserID }) 
        </td>
    </tr>
}

</table>
