@model IEnumerable<Inventory_mvc.Models.Purchase_Details>



@{
    ViewBag.Title = "Raise Purchase Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Raise Purchase Order</h2>


@using (Html.BeginForm("RaisePurchaseOrder", "Purchase", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            @Html.Label("Order Number")
            <div class="col-md-10">
                <input type="text" name="orderNo" value="@ViewBag.orderNo" readonly>

            </div>
        </div>

        <div class="form-group">


            @Html.Label("Item Code")
            <div class="col-md-10">
                @Html.Editor("itemCode")
                @Html.ValidationMessage("itemCode")
            </div>
        </div>


        <div class="form-group">
            @Html.Label("Item Description")
            <div class="col-md-10">

                @Html.Label("description")
                @*@Html.ValidationMessage("description")*@
            </div>
        </div>

        <div class="form-group">

            @Html.Label("Quantity")
            <div class="col-md-10">
                @Html.Editor("qty")
                @Html.ValidationMessage("qty")
            </div>
        </div>

        <div class="form-group">

            @Html.Label("Price")
            <div class="col-md-10">
                @Html.Editor("price")
                @Html.ValidationMessage("price")
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Supplier")
            <div>


                <select name="supplierCode">
                    <option value="ALPA">ALPHA Office Supplies</option>
                    <option value="BANE">BANES Shop</option>
                    <option value="CHEP">Cheap Stationery</option>
                    <option value="OMEG">OMEGA Stationery Supplier</option>
                </select>

                @Html.ValidationMessage("supplierCode")
            </div>
        </div>


        <div class="form-group">


            @Html.Label("Remarks")
            <div class="col-md-10">
                @Html.Editor("remarks")
                @Html.ValidationMessage("remarks")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.Label("Item Code")
        </th>
        <th>
            @Html.Label("Description")
        </th>

        <th>
            @Html.Label("Price")
        </th>

        <th>
            @Html.Label("Quantity")
        </th>

        <th>
            @Html.Label("Total Price")
        </th>

        <th>
            @Html.Label("Remarks")
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.itemCode)
            </td>
            <td>
                @{
                    Inventory_mvc.Models.StationeryModel Entity = new Inventory_mvc.Models.StationeryModel();

                    Inventory_mvc.Models.Stationery s = Entity.Stationery.Where(x => x.itemCode == item.itemCode).First();

                    String description = s.description;

                }
                @Html.Label(description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.qty)
            </td>

            <td>
                @{
                    int totalPrice = (int)item.price * item.qty;
                }
                @Html.Label(totalPrice.ToString())
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.remarks)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |

                @Html.ActionLink("Delete", "Delete", new {  id=item.itemCode  })
            </td>
        </tr>
                    }

</table>

@Html.ActionLink("Clear", "ClearSession", "Purchase")
@Html.ActionLink("Generate Purchase Order", "GeneratePO", "Purchase")

<div>

    @Html.ActionLink("Back to List", "ListPurchaseOrders")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
