@model PagedList.IPagedList<Inventory_mvc.ViewModel.StationeryViewModel>

@using PagedList.Mvc;
@using Inventory_mvc.Utilities;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />



@{
    ViewBag.Title = "Stationery List";

    var successMessage = TempData["SuccessMessage"];
    var errorMessage = TempData["ErrorMessage"];

    List<Inventory_mvc.Models.Category> categoryList = ViewBag.CategoryList;
}



    @using (Html.BeginForm("Index", "Stationery", FormMethod.Get, new { @class = "form-group" }))
    {
        <table class="table pagination">
            <tr>
                <td>
                    @Html.Label("Description", new { @class = "col-sm-2 col-form-label font-weight-bold" })
                </td>
                <td>
                    @Html.TextBox("searchString", ViewBag.SearchString as string, new { @class = "form-control" })
                </td>
                <td>
                    @Html.Label("Category", new { @class = "col-sm-2 col-form-label font-weight-bold" })
                </td>
                <td>
                    <select name="categoryID" class="form-control">
                        <option value="-1" selected="selected">All</option>
                        @foreach (var category in categoryList)
                        {
                            string selected = "";

                            if (ViewBag.CategoryID == category.categoryID.ToString())
                            {
                                selected = "selected";
                            }
                            <option value="@category.categoryID" @selected> @category.categoryName </option>
                        }
                    </select>
                </td>
                <td>
                    <input type="submit" class="btn btn-primary" value="Search" />

                    <a href="@Url.Action("ResetCatalogue")">
                        <input type="button" class="btn btn-danger" value="Reset" />
                    </a>
                </td>
            </tr>
        </table>
    }

<div>
    <p>
        @if (successMessage != null)
        {
            <div class="alert alert-success">
                @successMessage.ToString()
            </div>
        }

        @if (errorMessage != null)
        {
            <div class="alert alert-danger">
                @errorMessage.ToString()
            </div>
        }
    </p>
</div>

@if (ViewBag.RoleID != (int)UserRoles.RoleID.StoreClerk)
{
    <p>
        @Html.ActionLink("Create New Stationery", "Create")
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.Label("Category")
        </th>
        <th>
            @Html.Label("Code")
        </th>
        <th>
            @Html.Label("Description")
        </th>
     
        <th>
            @Html.Label("UOM")
        </th>

        <th>
            @Html.Label("Stock Quantity")
        </th>
        <th>
            @Html.Label("Location")
        </th>
        <th>
            @Html.Label("1st Supplier")
        </th>
        <th>
            @Html.Label("2nd Supplier")
        </th>
        <th>
            @Html.Label("3rd Supplier")
        </th>
        <th>
            @Html.Label("Price")
        </th>
        <th>
            @Html.Label("Action")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.categoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
      
            <td>
                @Html.DisplayFor(modelItem => item.UnitOfMeasure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstSupplierCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondSupplierCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThirdSupplierCode)
            </td>
            <td>
                $ @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("View StockCard", "ViewStockCard", new { id = item.ItemCode })

                @if (ViewBag.RoleID != (int)UserRoles.RoleID.StoreClerk)
                {
                    @:| @Html.ActionLink("Edit", "Edit", new { id = item.ItemCode })
                    @:| @Html.ActionLink("Delete", "Delete", new { id = item.ItemCode })
                }
            </td>
        </tr>
    }

</table>

        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
                     new { searchString = ViewBag.SearchString, categoryID = ViewBag.CategoryID, page }))




