@model Inventory_mvc.ViewModel.StationeryViewModel

@using Inventory_mvc.Utilities;


@{
    ViewBag.Title = "View";
}



<div>
    <h4>Stock Card</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReorderLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReorderLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReorderQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReorderQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitOfMeasure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitOfMeasure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstSupplierCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstSupplierCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondSupplierCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondSupplierCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdSupplierCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdSupplierCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            $ @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @if (ViewBag.RoleID != (int) UserRoles.RoleID.StoreClerk)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ItemCode })
        @:|
    }

 
    @Html.ActionLink("Back to Stationery List", "Index")
</p>

<hr />

<h4>Item Transaction Record</h4>

<form id="transactionForm">
    <table class="table pagination">
        <tr>
            <td>
                @Html.Label("Select Year", new { @class = "text-right font-weight-bold" })
            </td>
            <td>
                @Html.DropDownList("selectedYear", ViewBag.SelectYear as SelectList, new { @class = "form-control" })
            </td>
            <td>
                @Html.Label("Select Month", new { @class = "text-right font-weight-bold" })
            </td>
            <td>
                @Html.DropDownList("selectedMonth", ViewBag.SelectMonth as SelectList, new { @class = "form-control" })
            </td>
            <td>
                <input type="hidden" name="id" value="@Model.ItemCode" />
                <input type="button" class="btn btn-primary" onclick="LoadData('@Model.ItemCode')" value="View Transaction" />
            </td>
        </tr>
    </table>
</form>


<div id="transactionRecord">

</div>

<script>
    function LoadData(itemCode)
    {
        $.ajax({
            url: '@Url.Action("ViewTransaction", "Stationery")',
            data: $('#transactionForm').serialize(),
            type: 'POST',
            success: function (data) {
                $("#transactionRecord").html(data)
            },
            error: function () {
                alert("Opps. Some error occurs. Please try again.");
            }
        });
    }

</script>