@model IEnumerable<Inventory_mvc.ViewModel.RetrieveForm>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>
<div>

    @using (Html.BeginForm())
    {
        <p>
            From: <input type="text" id="delstart" name="from"> 
        </p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Confirm" class="btn btn-default" />
            </div>
        </div>
    }
</div>
@if (Model != null) { 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            @*<td>
                    @Html.ActionLink("Approve", "ApproveRequisition", new { id = item.requisitionNo });
                </td>*@
        </tr>
    }

</table>
}
<script>
    $(function () {
        $("#delstart").datepicker({
            showButtonPanel: true
        });
    });

    $(function () {
        $("#delend").datepicker({
            showButtonPanel: true
        });
    });
</script>
