@*@model IEnumerable<Inventory_mvc.ViewModel.RetrieveForm>*@
@model PagedList.IPagedList<Inventory_mvc.ViewModel.RetrieveForm>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

@Html.ActionLink("Allocate", "ClerkRequisition", "ManageRequisitions");
<div>

    @using (Html.BeginForm())
    {
        <p>
            From: <input type="text" id="delstart" name="from"> 
        </p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Confirm" class="btn btn-default" />
            </div>
        </div>
    }
</div>
@if (Model != null)
{
    using (Html.BeginForm("GetApplication", "ManageRequisitions", new { }, FormMethod.Post, new { @class = "form", @id = "checkForm" }))
    {
<table class="table">
    <tr>
        <th>
            @Html.Label("Description")
        </th>
        <th></th>
        <th>
            Need
        </th>
        <th>RetrieveQty</th>
    </tr>
    @for (int i = 0;i<Model.Count();i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.ToList()[i].description)
                <input type="hidden" name="[@i].description" value="@Model.ToList()[i].description" />
            </td>
            <td>
                @Html.HiddenFor(modelItem => Model.ToList()[i].ItemCode)
                <input type="hidden" name="[@i].ItemCode" value="@Model.ToList()[i].ItemCode" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.ToList()[i].Qty)
                <input type="hidden" name="[@i].Qty" value="@Model.ToList()[i].Qty" />
            </td>
            <td>
                <input type="number" name="[@i].retrieveQty" class="form-control" min="0" onchange="SaveData()" required />
            </td>  
        </tr>
    }

</table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
    }
    
    <div>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("GenerateRetrieveForm",
                     new { page }))
        
    </div>
            }

<script>
    $(function () {
        $("#delstart").datepicker({
            showButtonPanel: true
        });
    });

    $(function () {
        $("#delend").datepicker({
            showButtonPanel: true
        });
    });
    function SaveData() {
        var myformdata = $("#checkForm").serializeArray(); // convert form to array

        $.ajax({
            type: "POST",
            url: "/ManageRequisitions/KeepTempData2",
            data: $.param(myformdata), // convert to url-encoded form
            //success: function () {
            //alert("success");
            //}
        });
    }
</script>

