@model IEnumerable<Inventory_mvc.Models.Requisition_Record>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.deptCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.requesterID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.approvingStaffID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.approveDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.requestDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.deptCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.requesterID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.approvingStaffID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.approveDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.requestDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditRequisition", new { id=item.requisitionNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.requisitionNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.requisitionNo })
        </td>
    </tr>
}

</table>
