@*@model IEnumerable<Inventory_mvc.Models.Requisition_Record>*@
@model PagedList.IPagedList<Inventory_mvc.Models.Requisition_Record>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>
<table class="table">
    <tr>
        <th>
            @Html.Label("Requisition No:")
        </th>
        <th>
            @Html.Label("Department Name")
        </th>
        <th>
            RequesterName
        </th>
        <th>
            ApprovingName
        </th>
        <th>
            @Html.Label("Approved Date")
        </th>
        <th>
            @Html.Label("Status")
        </th>
        <th>
            @Html.Label("Requested Date")
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.requisitionNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.departmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User1.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.approveDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.requestDate)
        </td>
        <td>
            @{

                if (item.status == "Approved and Processing" || item.status == "Rejected")
                {
                    @Html.ActionLink("Details", "RequisitionDetails", new { id = item.requisitionNo });
                }
                else if (item.status == "Pending")
                {
                    @Html.ActionLink("Approve", "ApproveRequisition", new { id = item.requisitionNo });
                    <br />
                    @Html.ActionLink("Details", "RequisitionDetails", new { id = item.requisitionNo });
                    <br/>
                    @Html.ActionLink("Reject", "RejectRequisition", new{id = item.requisitionNo });
                }
            }
        </td>
    </tr>
}

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("ManagerRequisition",
                     new { page }))


