
@{
    ViewBag.Title = "Login";
}

<h3>@ViewBag.Message</h3>
@model Inventory_mvc.Models.AccountLoginModels

<style>
    .bs-login {
        position: relative;
        width: auto;
        max-width: 835px;
        margin: 20px auto;
        padding: 20px 0;
        border-radius: 6px;
        margin-top: 55px;
        margin-bottom: 55px;
        border: 1px solid #eee;
        border: 1px solid rgba(0,0,0,.1);
        background-color: #fff;
        -webkit-box-shadow: 0 0 225px rgba(255,255,255,.55);
        box-shadow: 0 0 225px rgba(255,255,255,.55);
    }

    .bs-signin {
        width: auto;
        max-width: 585px;
        margin: 0 auto 10px;
        padding: 0 10px;
    }

        .bs-signin h1 {
            font-size: 24px;
            font-weight: bold;
            line-height: 1;
            margin: 0;
            padding: 20px 0;
        }
</style>
<div id="login1">
    <div class="bs-login">
        <div class="bs-signin">
            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
            @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="form-group">
                    <div class="col-sm-9">
                        @Html.TextBoxFor(x => x.UserName, new { placeholder = "Username", @class = "form-control", })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        @Html.PasswordFor(x => x.Password, new { type = "password", placeholder = "Password", @class = "form-control", })
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-sm-9">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.RememberMe, new { })
                                @Html.LabelFor(x => x.RememberMe, new { })
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-sm-10">
                        <button type="submit" class="btn btn-info">
                            Login
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


