<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
<script src="~/Scripts/chart-colors.js"></script>
<script src="~/Scripts/Chart.PieceLabel.js"></script>

@{
    int numberOfSupplier = (int)ViewBag.NumberOfSupplier;
    string year = (string)ViewBag.Year;
    string itemCode = (string)ViewBag.ItemCode;
    string category = (string)ViewBag.Category;

}

<input type="hidden" value="@numberOfSupplier" name="numberOfSupplier" id="numberOfSupplier" />
<input type="hidden" value="@year" name="year" id="year" />
<input type="hidden" value="@itemCode" name="itemCode" id="itemCode" />
<input type="hidden" value="@category" name="category" id="category" />


@for (int i = 1; i <= numberOfSupplier; i++)
{
    string datasetLabel = "DatasetLabel" + (i).ToString();
    <span id="@datasetLabel" class="hidden">@Html.Raw(Json.Encode(ViewData[datasetLabel]))</span>

    string dataName = "Data" + (i).ToString();
    <span id="@dataName" class="hidden">@Html.Raw(Json.Encode(ViewData[dataName]))</span>
}


<br />
<a href="#" id="downloadPdf">Download Chart as PDF</a>
<div id="reportPage"><canvas id="myChart"> </canvas></div>

<script>
    var colorNames = Object.keys(window.chartColors);
    var color = Chart.helpers.color;

    var Xlabels = @Html.Raw(Json.Encode(ViewBag.XLabels));

    var numberOfSupplier = $('#numberOfSupplier').val();
    var itemCode = $('#itemCode').val();
    var category = $('#category').val();
    var year = $('#year').val();

    var title = ['Reorder Amount of ' + itemCode];
    if(category != "")
    {
        title.push('in Category: ' + category + ' in Year ' + year);
    }
    else
    {
        title.push('in Year ' + year);
    }

    var config =
    {
        type: 'line',
        data:
        {
            datasets: [],
            labels: Xlabels,
        },
        options:
        {
            responsive: true,
            legend:
            {
                position: 'right',
            },
            title:
            {
                display: true,
                text: title,
                fontSize: 16,
            },
            scales:
            {
                yAxes:
                [{
                    scaleLabel:
                    {
                        display: true,
                        labelString: 'Amount ($)',
                        fontSize: 14,
                    },

                    ticks:
                    {
                        maxTicksLimit: 25,
                        beginAtZero:true,
                    },
                }],
                xAxes:
                [{
                    scaleLabel:
                    {
                        display: true,
                        labelString: 'Months',
                        fontSize: 14,
                    },
                }]
            },
        }
    };

    for(var i = 1; i <= numberOfSupplier; i++)
    {
        var labelVal = $('#DatasetLabel' + i.toString()).text(); // get "OMEG"
        labelVal = labelVal.substring(1, labelVal.length-1); // remove " "
        var dataVal = $('#Data' + i.toString()).text(); // get [1,2,3,4,5]
        dataVal = dataVal.substring(1, dataVal.length-1).split(','); // remove [ ] from text & split

        var colorName = colorNames[(i+2) % colorNames.length];
        var newColor = window.chartColors[colorName];

        var newDataset =
        {
             label: labelVal,
             backgroundColor: newColor,
             borderColor: newColor,
             data: dataVal,
             fill:false,
             strokeColor : "rgba(151,187,205,1)",
        };

        config.data.datasets.push(newDataset);
    }

    var myChart = document.getElementById("myChart").getContext("2d");
    var showQtyChart = new Chart("myChart", config);


    $('#downloadPdf').click(function(event) {
        // get size of report page
        var reportPageHeight = $('#reportPage').innerHeight();
        var reportPageWidth = $('#reportPage').innerWidth();

        // create a new canvas object that we will populate with all other canvas objects
        var pdfCanvas = $('<canvas />').attr({
            id: "canvaspdf",
            width: reportPageWidth,
            height: reportPageHeight
        });

        // keep track canvas position
        var pdfctx = $(pdfCanvas)[0].getContext('2d');
        var pdfctxX = 0;
        var pdfctxY = 0;
        var buffer = 100;

        // for each chart.js chart
        $("canvas").each(function(index) {
            // get the chart height/width
            var canvasHeight = $(this).innerHeight();
            var canvasWidth = $(this).innerWidth();

            // draw the chart into the new canvas
            pdfctx.drawImage($(this)[0], pdfctxX, pdfctxY, canvasWidth, canvasHeight);
            pdfctxX += canvasWidth + buffer;
        });

        // create new pdf and add our new canvas as an image
        var pdf = new jsPDF('l', 'pt', [reportPageWidth, reportPageHeight]);
        pdf.addImage($(pdfCanvas)[0], 'PNG', 50, 50);

        // download the pdf
        pdf.save(title + '.pdf');
    });

</script>

