@model IEnumerable<Inventory_mvc.ViewModel.InventoryCheckViewModel>


@{
    ViewBag.Title = "ShowDetails";

    var successMessage = TempData["SuccessMessage"];
    var errorMessage = TempData["ErrorMessage"];
    var warningMessage = TempData["WarningMessage"];
}

<h2>Inventory Check Details</h2>

<br />


@if (successMessage != null)
{
    <div class="alert alert-success">
        @successMessage.ToString()
    </div>
}

@if (errorMessage != null)
{
    <div class="alert alert-danger">
        @errorMessage.ToString()
    </div>
}

@if (warningMessage != null)
{
    <div class="alert alert-warning">
        @warningMessage.ToString()
    </div>
}

<div class="form-group row">
    <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.StockCheckDate):</label>
    <div class="col-sm-10">
        <label class="col-sm-2 col-form-label">@Html.DisplayFor(model => model.First().StockCheckDate)</label>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ItemCode)</th>
            <th>@Html.DisplayNameFor(model => model.StationeryDescription)</th>
            <th>@Html.DisplayNameFor(model => model.UOM)</th>
            <th>@Html.DisplayNameFor(model => model.StockQuantity)</th>
            <th>@Html.DisplayNameFor(model => model.ActualQuantity)</th>
            <th>@Html.DisplayNameFor(model => model.Discrepancy)</th>
            <th>@Html.DisplayNameFor(model => model.Remarks)</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            var item = Model.ElementAt(i);

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemCode)
                    <input type="hidden" name="[@i].ItemCode" value="@item.ItemCode" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StationeryDescription)
                    <input type="hidden" name="[@i].StationeryDescription" value="@item.StationeryDescription" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UOM)
                    <input type="hidden" name="[@i].UOM" value="@item.UOM" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockQuantity)
                    <input type="hidden" name="[@i].StockQuantity" value="@item.StockQuantity" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualQuantity)
                    <input type="hidden" name="[@i].ActualQuantity" value="@item.ActualQuantity" />
                </td>
                @if (item.Discrepancy >= 0)
                {
                    <td>
                        <span class="text-success">+@item.Discrepancy</span>
                    </td>
                }
                else
                {
                    <td>
                        <span class="text-danger">@item.Discrepancy</span>
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
            </tr>
        }
    </tbody>
</table>



@Html.ActionLink("Back to Inventory Check List", "Index")
