<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Logic University Stationery Store Inventory System</title>
    <!--
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
        -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>   

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>

<body style="position: relative; min-height: 100%; top: 0px;">
    <header class="container-fluid" style="position:relative;text-align:center;top:50%"><a href="#"><img src="~/Images/TopLogo.jpg" /></a></header>

    <nav class="navbar-default">
        <div class="container-fluid">
           
            <ul class="nav nav-tabs">
                <li><a href="#">Home</a></li>
                <li class="dropdown">
                    <a class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" href="#">
                        Page 1
                        @*<span class="caret"></span>*@
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Page 1-1</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                    </ul>
                </li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
                <li>
                    @Html.ActionLink("Contact", "Contact", "Home")
                </li>
                <li>
                    @Html.ActionLink("logout", "Logout", "Home")
                </li>
            </ul>
        </div>
    </nav>



    <!-- OLD NAV BAR start
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Inventory System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>


                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>

        </div>
    </div>


        OLD NAV BAR END -->

    <div class="container body-content">




        @RenderBody()





    </div>




        <footer style="text-align:center;vertical-align:bottom;position:relative;bottom:10px">
            <p>&copy; @DateTime.Now.Year - SA45Team3</p>
        </footer>
   

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryajax")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>